name: ProfileMetrics
on:
  schedule: [{cron: "0 */2 * * *"}]
  workflow_dispatch:
  push: {branches: ["master"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      # See action.yml for all options
      - uses: lowlighter/metrics@master
        with:
          # Your GitHub token
          token: ${{ secrets.PMETRICS_TOKEN }}
          user: Ifiht
          use_prebuilt_image: yes
          template: classic
          config_timezone: America/Toronto
          plugin_lines: yes
          config_padding: 16, 148       # [X, Y] padding, in pixels
          # base
          base: header, activity, community, repositories, metadata
          repositories_forks: no
          # languages
          plugin_languages: yes
          plugin_languages_colors: github
          plugin_languages_limit: 9
          plugin_languages_threshold: 0%
          plugin_languages_ignored: mcfunction
          # habits
          plugin_habits: yes
          plugin_habits_from: 1000      # Use 1000 events to compute habits
          plugin_habits_days: 90        # Keep only events from last 90 days
          plugin_habits_facts: yes      # Display facts section
          plugin_habits_charts: yes     # Display charts section
          # leetcode
          plugin_leetcode: yes
          plugin_leetcode_user: ifiht
          plugin_leetcode_sections: solved, skills
          # followup
          plugin_followup: yes
          plugin_followup_sections: repositories, user
          # achievements
          plugin_achievements: yes
          plugin_achievements_threshold: C       # Display achievements with rank C or higher
          plugin_achievements_display: compact   # Only icon, name and value
          plugin_achievements_secrets: yes       # Display unlocked secrets achievements
          plugin_achievements_limit: 10          # Display only top 6
          # pagespeed
          plugin_pagespeed: yes
          plugin_pagespeed_url: https://webdev.evlis.org
          
